In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from statsmodels.formula.api import ols
from scipy.stats import norm
from scipy import stats



df = pd.read_csv('kc_house_data_train.csv', index_col=0)

In [4]:
df = pd.read_csv('kc_house_data_train.csv', index_col=0)
# df['date'] = pd.to_datetime(df['date'])
features = ['bedrooms', 'bathrooms', 'sqft_living',
    'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
    'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
    'lat', 'long', 'sqft_lot15']
df_features=df[features]
target = df['price']

In [ ]:
df.price.describe()

In [ ]:
df.columns

In [ ]:
x = df.bedrooms
y = df.price

plt.plot(x, y, 'o', color='black');

In [ ]:
df.bedrooms.median()

In [ ]:
corr = df.corr()
def CorrMtx(df, dropDuplicates = True):

    # Your dataset is already a correlation matrix.
    # If you have a dateset where you need to include the calculation
    # of a correlation matrix, just uncomment the line below:
    #df = df.corr()

    # Exclude duplicate correlations by masking uper right values
    if dropDuplicates:    
        mask = np.zeros_like(df, dtype=np.bool)
        mask[np.triu_indices_from(mask)] = True

    # Set background color / chart style
    sns.set_style(style = 'white')

    # Set up  matplotlib figure
    f, ax = plt.subplots(figsize=(11, 9))

    # Add diverging colormap from red to blue
    cmap = sns.diverging_palette(250, 10, as_cmap=True)

    # Draw correlation plot with or without duplicates
    if dropDuplicates:
        sns.heatmap(df, mask=mask, cmap=cmap, 
                square=True,
                linewidth=.5, cbar_kws={"shrink": .5}, ax=ax)
    else:
        sns.heatmap(df, cmap=cmap, 
                square=True,
                linewidth=.5, cbar_kws={"shrink": .5}, ax=ax)


CorrMtx(corr, dropDuplicates = True)

In [ ]:
df.corr()

In [ ]:
x = df.drop('price', axis=1)

In [ ]:
x.corr()
# sqft_above and sqft_living : 0.877
# bathrooms and sqft_living: 0.755
# sqft_living and grade: 0.76
# sqft_living and sqft_living15: 0.755
# sqft_lot and sqft_lot15: 0.702
# grade and sqft_above: 0.758
# grade and sqft_living15: 0.716
# sqft_above and sqft_living15: 0.731

In [ ]:
x_cols = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','grade']

In [ ]:
pd.plotting.scatter_matrix(x[x_cols], figsize=(8,10));

In [ ]:
corr = x.corr()
def CorrMtx(df, dropDuplicates = True):

    # Your dataset is already a correlation matrix.
    # If you have a dateset where you need to include the calculation
    # of a correlation matrix, just uncomment the line below:
    #df = df.corr()

    # Exclude duplicate correlations by masking uper right values
    if dropDuplicates:    
        mask = np.zeros_like(df, dtype=np.bool)
        mask[np.triu_indices_from(mask)] = True

    # Set background color / chart style
    sns.set_style(style = 'white')

    # Set up  matplotlib figure
    f, ax = plt.subplots(figsize=(11, 9))

    # Add diverging colormap from red to blue
    cmap = sns.diverging_palette(250, 10, as_cmap=True)

    # Draw correlation plot with or without duplicates
    if dropDuplicates:
        sns.heatmap(df, mask=mask, cmap=cmap, 
                square=True,
                linewidth=.5, cbar_kws={"shrink": .5}, ax=ax)
    else:
        sns.heatmap(df, cmap=cmap, 
                square=True,
                linewidth=.5, cbar_kws={"shrink": .5}, ax=ax)


CorrMtx(corr, dropDuplicates = True)

In [ ]:
zc = df.groupby('zipcode').price.mean().sort_values(ascending=False)
zc.plot(kind='box')

In [ ]:
# kc['ppsqft_living'] = kc['price']/kc['sqft_living']
# kc['ppsqft_lot'] = kc['price']/kc['sqft_lot']
# kc['ppsqft_above'] = kc['price']/kc['sqft_above']
# kc['ppsqft_basement'] = kc['price']/kc['sqft_basement']
# kc['ppsqft_lot15'] = kc['price']/kc['sqft_lot15']
# kc['ppsqft_living15'] = kc['price']/kc['sqft_living15']
# kc.drop(columns=['sqft_living','sqft_lot','sqft_above','sqft_basement','sqft_lot15', 'sqft_living15'])

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
#TURN STRING INTO DATETIME
date_test = pd.to_datetime(df['date'])
date_test

In [ ]:
features = ['bedrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [ ]:
df_features=df[features]
target = df['price']

In [ ]:
df_features.corr()

In [ ]:
ols(formula='price~'+"+".join(features))

In [ ]:
#improt train_test_split from sklearn package
from sklearn.model_selection import train_test_split

#call train_test_split on the data and capture the results
X_train, X_test, y_train, y_test = train_test_split(df_features, target, random_state=34,test_size=0.2)

#check the shape of the results
print("Training set - Features: ", X_train.shape, "Target: ", y_train.shape)
print("Training set - Features: ", X_test.shape, "Target: ",y_test.shape)

In [ ]:
run_tests()

In [ ]:
# fit a model
from sklearn import linear_model

def run_tests():
#call train_test_split on the data and capture the results
    X_train, X_test, y_train, y_test = train_test_split(df_features, target, random_state=34,test_size=0.2)

#instantiate a linear regression object
    lm = LinearRegression()

    lm=lm.fit(X_train,y_train)

    y_train_pred = lm.predict(X_train)

# train_mae = metrics.mean_absolute_error(y_train, y_train_pred)
# train_mse = metrics.mean_squared_error(y_train, y_train_pred)
    train_rmse = np.sqrt(metrics.mean_squared_error(y_train, y_train_pred))
    price_std=target.std()
    y_pred = lm.predict(X_test)
    print('Training: ', int(train_rmse), "vs. Testing: ", int(test_rmse))

In [ ]:
y_train_pred = lm.predict(X_train)

In [ ]:
train_mae = metrics.mean_absolute_error(y_train, y_train_pred)
train_mse = metrics.mean_squared_error(y_train, y_train_pred)
train_rmse = np.sqrt(metrics.mean_squared_error(y_train, y_train_pred))


print('Mean Absolute Error:', train_mae )
print('Mean Squared Error:',  train_mse)
print('Root Mean Squared Error:' , train_rmse)

In [ ]:
price_std = target.std()

print('Z-Score of Mean Absolute Error:', train_mae/price_std )
print('Z-Score of Root Mean Squared Error:' , train_rmse/price_std)

In [ ]:
y_pred = lm.predict(X_test)

In [ ]:
plt.scatter(y_test, y_pred)
plt.xlabel("True Values")
plt.ylabel("Predictions")

In [ ]:
sns.residplot(y_pred, y_test, lowess=True, color="g")

In [ ]:
print ("Score:", lm.score(X_test, y_test))

In [ ]:
test_mae = metrics.mean_absolute_error(y_test, y_pred)
test_rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))


print('Mean Absolute Error:' + str(metrics.mean_absolute_error(y_test, y_pred)))
print('Mean Squared Error:' + str(metrics.mean_squared_error(y_test, y_pred)))
print('Root Mean Squared Error:' + str(np.sqrt(metrics.mean_squared_error(y_test, y_pred))))

In [ ]:
print('Mean Absolute Error  Z:', test_mae/price_std )
print('Root Mean Squared Error Z:' , test_rmse/price_std)

In [ ]:
print('Training: ', int(train_rmse), "vs. Testing: ", int(test_rmse))

In [ ]:
#instantiate a linear regression object
lm2 = linear_model.LinearRegression()

#fit the linear regression to the data
lm2.fit(X_train, y_train)

In [ ]:
df_features = df_features, target

## log of continuous variables

In [ ]:
df_features.head()
df_continuous=df[['price','sqft_living','sqft_lot','sqft_basement', 'sqft_lot15']]
df_continuous.head()

In [ ]:
outcome = 'price'
x_cols = ['sqft_living','sqft_basement','sqft_lot', 'sqft_lot15']
predictors = '+'.join(x_cols)
formula = outcome + '~' + predictors
model = ols(formula=formula, data=df_continuous).fit()
model.summary()

In [ ]:
non_normal = ['sqft_living','sqft_lot','sqft_basement', 'sqft_lot15']
for feat in non_normal:
    df_continuous[feat] = df_continuous[feat].map(lambda x: np.log(x))
pd.plotting.scatter_matrix(df_continuous[x_cols], figsize=(10,12));

In [ ]:
formula = outcome + '~' + predictors
model = ols(formula=formula, data=df_continuous).fit()
model.summary()

## log of target variable

In [ ]:
df['price_log'] = np.log(df['price'])
df['price_log'].head()

In [ ]:
sns.distplot(df['price_log'], fit=norm,  bins=50, kde=False);
fig = plt.figure()
res = stats.probplot(df['price_log'], plot=plt)

In [ ]:
outcome = 'price_log'
x_cols = ['sqft_living','sqft_basement','sqft_lot', 'sqft_lot15']
predictors = '+'.join(x_cols)
formula = outcome + '~' + predictors
model = ols(formula=formula, data=df).fit()
model.summary()

## Changing date to float

In [ ]:
df.date.head()

In [ ]:
df['date'] = pd.to_datetime(df['date'])
# df['date'] = df['date'].astype('float')
# df["date"]= df["date"].str.split("T", n = 1, expand = True) 
df['date'] = df['date'].values.astype(float)

# KEEP GETTING "TypeError: cannot astype a datetimelike from [datetime64[ns]] to [float64]"
df.date.describe()

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df.date.head()

In [ ]:
df['date'] = df['date'].astype('float')
df.date.head()

## Changing grade column

In [ ]:
df = pd.get_dummies(df, columns=['grade'])

In [ ]:
df.columns[5:]

In [ ]:
df.grade_1.describe()

## Categorizing grade column

grade - An index from 1 to 13, where 1-3 falls short of building construction and design, 7 has an average level of construction and design, and 11-13 have a high quality level of construction and design.

In [5]:
ratings = list(df['grade'].unique())
ratings

[8, 11, 12, 9, 7, 6, 10, 5, 13, 4, 3, 1]

In [6]:
unrated = [4,5,6,8,9,10]

In [7]:
rated = [x for x in ratings if x not in unrated]
rated

[11, 12, 7, 13, 3, 1]

In [8]:
#create a dictionary with keys of the 'unrated' values and the value being 'unrated'
unrated_dict = dict.fromkeys(unrated, 'unrated')
unrated_dict

{4: 'unrated',
 5: 'unrated',
 6: 'unrated',
 8: 'unrated',
 9: 'unrated',
 10: 'unrated'}

In [9]:
rated_dict  = dict(zip(rated, rated))
rated_dict

{11: 11, 12: 12, 7: 7, 13: 13, 3: 3, 1: 1}

In [10]:
ratings_map = {**rated_dict,**unrated_dict}
ratings_map

{11: 11,
 12: 12,
 7: 7,
 13: 13,
 3: 3,
 1: 1,
 4: 'unrated',
 5: 'unrated',
 6: 'unrated',
 8: 'unrated',
 9: 'unrated',
 10: 'unrated'}

In [11]:
# use the pandas map function to change the content_rating column
df['construction_grade'] = df['grade'].map(ratings_map)

In [12]:
#compare the two columns
df[['construction_grade', 'grade']].tail()

      construction_grade  grade
17285            unrated      8
17286                  7      7
17287                  7      7
17288                  7      7
17289                  7      7

In [13]:
df.replace({'construction_grade': {7: 'average', 1: 'falls short', 3: 'falls short', 11: 'high quality', 12: 'high quality', 13: 'high quality'}},inplace=True)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,construction_grade
0,2591820310,20141006T000000,365000.0,4,2.25,2070,8893,2.0,0,0,...,2070,0,1986,0,98058,47.4388,-122.162,2390,7700,unrated
1,7974200820,20140821T000000,865000.0,5,3.00,2900,6730,1.0,0,0,...,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283,unrated
2,7701450110,20140815T000000,1038000.0,4,2.50,3770,10893,2.0,0,2,...,3770,0,1997,0,98006,47.5646,-122.129,3710,9685,high quality
3,9522300010,20150331T000000,1490000.0,3,3.50,4560,14608,2.0,0,2,...,4560,0,1990,0,98034,47.6995,-122.228,4050,14226,high quality
4,9510861140,20140714T000000,711000.0,3,2.50,2550,5376,2.0,0,0,...,2550,0,2004,0,98052,47.6647,-122.083,2250,4050,unrated

In [14]:
df = pd.get_dummies(df, columns=['construction_grade'])

In [29]:
df['construction_grade_unrated'].value_counts()

1    9702
0    7588
Name: construction_grade_unrated, dtype: int64

In [32]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,construction_grade_average,construction_grade_falls short,construction_grade_high quality,construction_grade_unrated
0,2591820310,20141006T000000,365000.0,4,2.25,2070,8893,2.0,0,0,...,0,98058,47.4388,-122.162,2390,7700,0,0,0,1
1,7974200820,20140821T000000,865000.0,5,3.00,2900,6730,1.0,0,0,...,0,98115,47.6784,-122.285,2370,6283,0,0,0,1
2,7701450110,20140815T000000,1038000.0,4,2.50,3770,10893,2.0,0,2,...,0,98006,47.5646,-122.129,3710,9685,0,0,1,0
3,9522300010,20150331T000000,1490000.0,3,3.50,4560,14608,2.0,0,2,...,0,98034,47.6995,-122.228,4050,14226,0,0,1,0
4,9510861140,20140714T000000,711000.0,3,2.50,2550,5376,2.0,0,0,...,0,98052,47.6647,-122.083,2250,4050,0,0,0,1

In [39]:
df.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,construction_grade_average,construction_grade_falls short,construction_grade_high quality,construction_grade_unrated
id,1.000000,-0.015644,-0.001529,0.003833,-0.014251,-0.129837,0.017126,0.000101,0.012594,-0.014272,...,-0.019560,-0.008166,-0.001865,0.017388,-0.007494,-0.139605,-0.009585,-0.005919,-0.026149,0.017616
price,-0.015644,1.000000,0.305106,0.524335,0.703540,0.086803,0.256985,0.275779,0.395485,0.036099,...,0.117770,-0.048958,0.302394,0.019327,0.585567,0.081423,-0.312121,-0.013447,0.487650,0.162221
bedrooms,-0.001529,0.305106,1.000000,0.507867,0.570428,0.029375,0.172975,-0.008581,0.079741,0.025266,...,0.013679,-0.147515,-0.002170,0.124279,0.387589,0.026665,-0.098764,-0.037948,0.136986,0.057485
bathrooms,0.003833,0.524335,0.507867,1.000000,0.755270,0.085470,0.497967,0.065848,0.188817,-0.122976,...,0.048140,-0.201527,0.023074,0.221308,0.568080,0.086499,-0.309322,-0.031836,0.304114,0.215665
sqft_living,-0.014251,0.703540,0.570428,0.755270,1.000000,0.166810,0.357169,0.109738,0.283336,-0.061530,...,0.051448,-0.195893,0.052646,0.234453,0.755066,0.179570,-0.354918,-0.022741,0.441710,0.218918
sqft_lot,-0.129837,0.086803,0.029375,0.085470,0.166810,1.000000,-0.002205,0.015356,0.073058,-0.013715,...,0.004520,-0.126590,-0.082029,0.226190,0.136959,0.701875,-0.068278,0.003270,0.092265,0.039698
floors,0.017126,0.256985,0.172975,0.497967,0.357169,-0.002205,1.000000,0.025132,0.025883,-0.259230,...,0.005985,-0.060560,0.048227,0.128795,0.283933,-0.008170,-0.310546,-0.011986,0.133104,0.268285
waterfront,0.000101,0.275779,-0.008581,0.065848,0.109738,0.015356,0.025132,1.000000,0.407565,0.009608,...,0.094268,0.034282,-0.013331,-0.042728,0.091090,0.026895,-0.049238,-0.001182,0.106930,0.016456
view,0.012594,0.395485,0.079741,0.188817,0.283336,0.073058,0.025883,0.407565,1.000000,0.045060,...,0.091291,0.089475,0.003820,-0.077572,0.279999,0.073185,-0.144325,-0.004053,0.185219,0.087183
condition,-0.014272,0.036099,0.025266,-0.122976,-0.061530,-0.013715,-0.259230,0.009608,0.045060,1.000000,...,-0.060969,0.007068,-0.009927,-0.109200,-0.094307,-0.007125,0.107895,-0.008263,-0.047272,-0.092570
grade,0.003163,0.666215,0.354679,0.664191,0.762929,0.110320,0.458984,0.092234,0.249554,-0.142066,...,0.007988,-0.184946,0.116196,0.198369,0.715745,0.116062,-0.469656,-0.059673,0.470125,0.325210
sqft_above,-0.013932,0.607760,0.472492,0.686853,0.876696,0.180755,0.528509,0.077162,0.164747,-0.157466,...,0.020413,-0.259745,0.001374,0.338192,0.731077,0.193874,-0.385605,-0.020588,0.429382,0.253078
sqft_basement,-0.003516,0.323312,0.300085,0.282700,0.435529,0.008065,-0.247481,0.083433,0.279939,0.166923,...,0.068611,0.079368,0.106727,-0.146112,0.199521,0.010007,-0.015259,-0.008685,0.113528,-0.019092
yr_built,0.013697,0.056450,0.153769,0.507761,0.319397,0.054228,0.483657,-0.021981,-0.049593,-0.358921,...,-0.222668,-0.348366,-0.145220,0.407768,0.332340,0.076624,-0.212201,-0.009484,0.106712,0.178571
yr_renovated,-0.019560,0.117770,0.013679,0.048140,0.051448,0.004520,0.005985,0.094268,0.091291,-0.060969,...,1.000000,0.063641,0.027804,-0.061159,-0.010221,0.004489,-0.015192,-0.002758,-0.001649,0.015660
zipcode,-0.008166,-0.048958,-0.147515,-0.201527,-0.195893,-0.126590,-0.060560,0.034282,0.089475,0.007068,...,0.063641,1.000000,0.264712,-0.563027,-0.273903,-0.145921,0.072373,-0.013645,-0.065263,-0.051689
lat,-0.001865,0.302394,-0.002170,0.023074,0.052646,-0.082029,0.048227,-0.013331,0.003820,-0.009927,...,0.027804,0.264712,1.000000,-0.131514,0.054175,-0.086265,-0.039118,-0.021490,0.044702,0.025842
long,0.017388,0.019327,0.124279,0.221308,0.234453,0.226190,0.128795,-0.042728,-0.077572,-0.109200,...,-0.061159,-0.563027,-0.131514,1.000000,0.327882,0.253981,-0.111916,0.026617,0.066427,0.090259
sqft_living15,-0.007494,0.585567,0.387589,0.568080,0.755066,0.136959,0.283933,0.091090,0.279999,-0.094307,...,-0.010221,-0.273903,0.054175,0.327882,1.000000,0.178533,-0.378097,-0.011824,0.371756,0.262889
sqft_lot15,-0.139605,0.081423,0.026665,0.086499,0.179570,0.701875,-0.008170,0.026895,0.073185,-0.007125,...,0.004489,-0.145921,-0.086265,0.253981,0.178533,1.000000,-0.067280,0.006346,0.089283,0.039531
construction_grade_average,-0.009585,-0.312121,-0.098764,-0.309322,-0.354918,-0.068278,-0.310546,-0.049238,-0.144325,0.107895,...,-0.015192,0.072373,-0.039118,-0.111916,-0.378097,-0.067280,1.000000,-0.011106,-0.130067,-0.953254
construction_grade_falls short,-0.005919,-0.013447,-0.037948,-0.031836,-0.022741,0.003270,-0.011986,-0.001182,-0.004053,-0.008263,...,-0.002758,-0.013645,-0.021490,0.026617,-0.011824,0.006346,-0.011106,1.000000,-0.002032,-0.014896
construction_grade_high quality,-0.026149,0.487650,0.136986,0.304114,0.441710,0.092265,0.133104,0.106930,0.185219,-0.047272,...,-0.001649,-0.065263,0.044702,0.066427,0.371756,0.089283,-0.130067,-0.002032,1.000000,-0.174458
construction_grade_unrated,0.017616,0.162221,0.057485,0.215665,0.218918,0.039698,0.268285,0.016456,0.087183,-0.092570,...,0.015660,-0.051689,0.025842,0.090259,0.262889,0.039531,-0.953254,-0.014896,-0.174458,1.000000

In [40]:
df = pd.get_dummies(df, columns=['waterfront'])

In [41]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,...,lat,long,sqft_living15,sqft_lot15,construction_grade_average,construction_grade_falls short,construction_grade_high quality,construction_grade_unrated,waterfront_0,waterfront_1
0,2591820310,20141006T000000,365000.0,4,2.25,2070,8893,2.0,0,4,...,47.4388,-122.162,2390,7700,0,0,0,1,1,0
1,7974200820,20140821T000000,865000.0,5,3.00,2900,6730,1.0,0,5,...,47.6784,-122.285,2370,6283,0,0,0,1,1,0
2,7701450110,20140815T000000,1038000.0,4,2.50,3770,10893,2.0,2,3,...,47.5646,-122.129,3710,9685,0,0,1,0,1,0
3,9522300010,20150331T000000,1490000.0,3,3.50,4560,14608,2.0,2,3,...,47.6995,-122.228,4050,14226,0,0,1,0,1,0
4,9510861140,20140714T000000,711000.0,3,2.50,2550,5376,2.0,0,3,...,47.6647,-122.083,2250,4050,0,0,0,1,1,0

In [42]:
df = pd.get_dummies(df, columns=['zipcode'])

In [44]:
df['yr_old'] =  df['yr_built'].map(lambda x: 2020-x )

In [45]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'construction_grade_average',
       'construction_grade_falls short', 'construction_grade_high quality',
       'construction_grade_unrated', 'waterfront_0', 'waterfront_1',
       'zipcode_98001', 'zipcode_98002', 'zipcode_98003', 'zipcode_98004',
       'zipcode_98005', 'zipcode_98006', 'zipcode_98007', 'zipcode_98008',
       'zipcode_98010', 'zipcode_98011', 'zipcode_98014', 'zipcode_98019',
       'zipcode_98022', 'zipcode_98023', 'zipcode_98024', 'zipcode_98027',
       'zipcode_98028', 'zipcode_98029', 'zipcode_98030', 'zipcode_98031',
       'zipcode_98032', 'zipcode_98033', 'zipcode_98034', 'zipcode_98038',
       'zipcode_98039', 'zipcode_98040', 'zipcode_98042', 'zipcode_98045',
       'zipcode_98052', 'zipcode_98053', 'zipcode_98055', 'zipcode_98056',
       'zipcode_98058', 'zipcode_98059', 'zipcode_98065', 'zipcode_98070',
       'zipcode_98072', 'zipcode_98074', 'zipcode_98075', 'zipcode_98077',
       'zipcode_98092', 'zipcode_98102', 'zipcode_98103', 'zipcode_98105',
       'zipcode_98106', 'zipcode_98107', 'zipcode_98108', 'zipcode_98109',
       'zipcode_98112', 'zipcode_98115', 'zipcode_98116', 'zipcode_98117',
       'zipcode_98118', 'zipcode_98119', 'zipcode_98122', 'zipcode_98125',
       'zipcode_98126', 'zipcode_98133', 'zipcode_98136', 'zipcode_98144',
       'zipcode_98146', 'zipcode_98148', 'zipcode_98155', 'zipcode_98166',
       'zipcode_98168', 'zipcode_98177', 'zipcode_98178', 'zipcode_98188',
       'zipcode_98198', 'zipcode_98199', 'yr_old'],
      dtype='object')